<a href="#" class='bahnFilterLink'>Bahn</a>
<a href="#" class='busFilterLink'>Bus</a>
<a href="#" class='bothFilterLink'>Beides</a>

<form>
  <input class="searchField"> <a href="#" class='delete'>(x)</a>
</form>

<ul class='result'>
</ul>
