<div class="head">
  <div class="headSelector">
    <a href="#" class='bahnFilterLink selectedFilter'>Bahn</a>
    <a href="#" class='busFilterLink'>Bus</a>
    <a href="#" class='bothFilterLink'>Beides</a>
  </div>
</div>

<form class='search'>
  <%= image_tag "search.png", class: "lupe" %> <input class="searchField"> <a href="#" class='delete'><%= image_tag "cancel.png", class:"cancel" %></a>
</form>

<ul class='result'>
</ul>
<div class="impressumOpen">
  <a href="#">Impressum</a>
</div>

<div class="impressum">
  <p>
    Diese kleine Anwendung soll helfen, die KVB-Haltestellen-Seite
    schnell zu öffnen. QR-Codes auslesen ist mir zu langwierig :) .
  </p>
  <p>
    Gefällt dir etwas nicht, oder willst du mithelfen an dem Projekt?
    Dann forke es <a href="https://github.com/bitboxer/KVB">auf Github</a>!
  </p>
  <h3>Impressum</h3>
  <p>
    Bodo Tasche<br/>
    Bergstr. 1<br/>
    50739 Köln
  </p>
  <a href="#" class="close">Schließen</a>
</div>
